{% extends "base.html" %}

{% block content %}
<table>
    <td><img src="{{ book.image.url }}" /></td>
    <td>
        <ul>
            <h1>Title: {{ book.title }}</h1>
            <!-- author detail link not yet defined -->
            <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p>
            <strong>Summary:</strong>
            <pre>
                {{ book.summary }}
            </pre>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p><strong>Language:</strong>
                {% for language in book.language.all %}
                {{ language }}{% if not forloop.last %}}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Topic:</strong>
                {% for topic in book.topic.all %}
                {{ topic }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <div style="margin-left:20px;margin-top:20px">
                <h4>PDF file</h4>
                <a href="{{ book.ebook.url }}">{{ book.title }}</a>
                {#<a href="{% url 'show_pdf' book.title %}">{{ book.title }}</a>#}
            </div>
        </ul>
    </td>
</table>
{% endblock %}
